<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% block css %}{% endblock %}
  </head>
  <body>
    {% block navbar %}
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Logo</a>
        {% if user %}
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/citas">Citas</a></li>
            <li><a href="/logout">Salir</a></li>
          </ul>
        {% endif %}
      </div>
    </nav>
    {% endblock %}
    <div class="cotainer">
      {% for error in errors %}
      <p class="alert alert-danger">{{ error }}</p>
      {% endfor %}
      {% block body %}{% endblock %}
      {{ user.name }}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {% block js %}{% endblock %}
  </body>
</html>