{% extends 'layout.html' %}

{% block body %}
  <div class="row">
    <div class="col m4 offset-m4">
      <h4 class="center">Login Form</h4>
      <form action="/login" method="post">
        <p>Email: <input type="email" name="email" required></p>
        <p>Pass: <input type="password" name="password" required></p>
        <input class="btn btn-success" type="submit" value="Enviar">
      </form>
      <div class="card-panel teal lighten-2">
        <a href="/register" class="mt-5 waves-effect waves-light btn pink lighten-2">Register</a>
        <a href="{{googleLoginUrl}}" class="mt-5 waves-effect waves-light btn pink lighten-2">GOogle</a>
      </div>
    </div>
  </div>
{% endblock %}
